{% extends "journal/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- <div class="content-section">
        <form method="POST" enctype="multipart/form-data" class="postForm">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Journal Post</legend>

            </fieldset>
            <img src="/media/black.png" class="recorder"/>
            <div class="vid-controls">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>

                <a href="#" ><img src="/media/recordButton.png" class="recordButton"/></a>


            </div>


            <div class="form-group">
                <button class="btn btn-outline-info submitButton" type="submit">Post</button>
            </div>
        </form>
    </div> -->
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data" class="postForm">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Journal Post</legend>
                <!-- {{ form|crispy }} -->
                <!-- {{ p_form|crispy }} -->
            </fieldset>
            <img src="/media/black.png" class="recorder"/>
            <div class="vid-controls">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>

                <a href="#" ><img src="/media/recordButton.png" class="recordButton"/></a>


            </div>

            {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-outline-info submitButton" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}
