<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- semantic-ui CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <title>LiNK</title>
  </head>

  <body>
    <div id="modal"></div>
    {% load static %}
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div id="app"></div>
      <script src="{% static 'frontend/createEntry.js' %}"></script>
    </form>
  </body>
</html>
